<%- include('./partials/header'); -%>

<h1>About</h1>
<p>
    Our website is designed to provide you with a safe and secure place to record your daily thoughts and experiences. Whether you're looking to improve your mental health, track your progress towards your goals, or simply keep a personal diary, our platform is here to help.

Our easy-to-use interface makes it simple to add new entries and browse through your previous ones. You can even add photos or links to external resources to further enhance your entries.

Our website is designed to be private and secure, so you can rest assured that your personal information is safe with us. We understand that your journal entries are deeply personal and we are committed to protecting your privacy at all times.

Thank you for choosing our platform to record your daily life. We look forward to helping you on your journey towards self-improvement and personal growth.
</p>

<%- include('./partials/footer'); -%>